GraphicMotionApplication/custom/util/.DS_Store
GraphicMotionApplication/custom/.DS_Store
GraphicMotionApplication.xcodeproj/project.xcworkspace/xcuserdata/galatkinaleksandr.xcuserdatad/UserInterfaceState.xcuserstate
GraphicMotionApplication.xcodeproj/xcuserdata/galatkinaleksandr.xcuserdatad/xcschemes/xcschememanagement.plist
GraphicMotionApplication/custom/app/.DS_Store
*.xcbkptlist
